extends ../node_modules/jade-bootstrap/layouts/navbar.pug

append body
	.container
		form.form-signin(method='POST')
			h2.form-signin-heading Please sign in
			label.sr-only(for='username') Email address
			input#username.form-control(type='email', placeholder='Email address', required='', autofocus='')
			label.sr-only(for='password') Password
			input#password.form-control(type='password', placeholder='Password', required='')
			.checkbox
				label
					input(type='checkbox', value='remember-me')
					|  Remember me
			button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in


