extends ../node_modules/jade-bootstrap/layouts/navbar

append styles
	link(href='stylesheets/navBar' rel='stylesheets' type='css/text')

append body
	//.jumbotron
	.container
		h1 Hello, world!
		p
			| This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.
		p
			a.btn.btn-primary.btn-lg(href='#', role='button') Learn more »



	.blog-masthead
			.container
				nav.blog-nav
					a.blog-nav-item.active(href='#') Home
					a.blog-nav-item(href='#') New features
					a.blog-nav-item(href='#') Press
					a.blog-nav-item(href='#') New hires
					a.blog-nav-item(href='#') About
	div.container
		.blog-header
			h1.blog-title The Bootstrap Blog
			p.lead.blog-description The official example template of creating a blog with Bootstrap.

	p Hello