extends ../node_modules/jade-bootstrap/layouts/navbar.pug

append body
  h1 #{title}

  form(method='POST' action='')
    div.form-group
      label(for='firstname') First Name:
      input#firstName.form-control(type='text', placeholder='Enter first name', name='first_name' required)
      label(for='lastName') Last Name:
      input#lastName.form-control(type='text', placeholder='Enter last name', name='last_name' required)
      label(for='email') Email:
      input#email.form-control(type='text', placeholder='Enter Email Address', name='email' required)
      label(for='password') Password:
      input#password.form-control(type='text', placeholder='Enter password name', name='password' required)
      label(for='passwordConform') Confirm Password:
      input#passwordConfirm.form-control(type='text', placeholder='Re-enter password', name='passConfirm' required)
    button.btn.btn-primary(type='submit') Submit
  if errors 
    ul
      for error in errors
        li= error.msg